<!DOCTYPE html>
<html>
<head>
    <title>Náhodná stránka</title>
    <link rel="preload" href="assets/bundled/index.css" as="style">
    <link rel="preload" href="assets/bundled/index.js" as="script">
    <link rel="stylesheet" href="assets/bundled/index.css" type="text/css">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nothing to see here.">
	
</head>
	{include content}
<body> 
    <nav>
        <div id="navContainer">
            <a id="navLogo" href="#">
                <img src="assets/images/bla.png" alt="logo">
            </a>

            <ul id="navMain">
                <li class="navMainLink"><a href="#1" id="home">domů</a>
                   <ul id="ddLink-1">
                       <li>
                           <a href="#2" id="ddLink-111">monitor</a>
                           <ul id="ddLink-11">
                               <li><a href="#3">BENQ</a></li>
                               <li><a href="#4">senseye</a></li>
                           </ul>
                       </li>
                       <li><a href="#5">klávesnice</a></li>
                       <li><a href="#6">myš</a></li>
                   </ul>
               </li>
               <li class="navMainLink"><a href="#7">obloha</a></li>
               <li class="navMainLink"><a href="#8">mraky</a></li>
               <li class="navMainLink"><a href="#9">slunce</a></li>
            </ul>

            <div class="iconRow">   
                <a href="#" class="icon-facebook2"></a>
                <a href="#" class="icon-youtube"></a>   
                <a href="#" class="icon-twitter"></a>   
                <a href="#" class="icon-firefox"></a>   
                <a href="#" class="icon-instagram"></a> 
            </div>
        </div>

        <div id="navContainer-2">
                <button id="btnTogNav" value="0">
                    <i class="icon-paragraph-justify"></i>
                </button>

            <a id="navLogo-2" href="#">
                <img src="assets/images/bla.png" alt="logo">
            </a>

            <div id="navMain-2">
                <span>
                    <a href="#" id="home-2">domů</a>
                    <button id="btnTogLink0" class="btnTogNavItem" value="0">
                        <i class="icon-plus"></i>
                    </button>
                </span>

                <span id="dArrow-1" class="displayNone">&darr;</span>

                <span id="togItem1" class="displayNone">
                    <a href="#" class="togThin">&raquo; monitor</a>
                    <button id="btnTogLink1" class="btnTogNavItem" value="0">
                        <i class="icon-plus"></i>
                    </button>
                </span>

                <span id="dArrow-2" class="displayNone">&darr;</span>

                <a href="#" id="togItem1A" class="displayNone togThin">&rsaquo; BENQ</a>
                <a href="#" id="togItem1B" class="displayNone togThin">&rsaquo; senseye</a>
                <a href="#" id="togItem1C" class="displayNone togThin">&raquo; klávesnice</a>
                <a href="#" id="togItem1D" class="displayNone togThin">&raquo; myš</a>
                <a href="#" class="navLink-2">obloha</a>
                <a href="#" class="navLink-2">mraky</a>
                <a href="#" class="navLink-2">slunce</a>
            </div>

            <div class="secondNavIcons iconRow">   
                <a href="#" class="icon-facebook2"></a>
                <a href="#" class="icon-youtube"></a>   
                <a href="#" class="icon-twitter"></a>   
                <a href="#" class="icon-firefox"></a>   
                <a href="#" class="icon-instagram"></a> 
            </div>
        </div>
    </nav>

    <footer>  
        <p id="footerLogo">
            <a href="#">
                <img src="assets/images/bla.png" alt="logo">
            </a>
            <div class="footerText">je skoro zataženo</div>
        </p>

        <div class="footerIcons iconRow">   
            <a href="#" class="icon-facebook2"></a>
            <a href="#" class="icon-youtube"></a>   
            <a href="#" class="icon-twitter"></a>   
            <a href="#" class="icon-firefox"></a>   
            <a href="#" class="icon-instagram"></a> 
        </div>

        <p class="footerText">
            sledujte na instagramu
        </p>

        <div class="instaContainer"> 
                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>

                <a href="#">
                    <img class="instaImg lozad" data-src="assets/images/mountain.jpg" alt="hory">
                    <i class="icon-instagram instaIcon"></i>
                </a>        
        </div>

        <svg>
            <filter id="blueWash">
                <feColorMatrix type="matrix" values="0.1 0.3 0.3 0 0   0.1 0.4 0.4 0 0  1 1 1 0 0  0 0 0 1 0"/>
            </filter>
        </svg>
      
        <p id="signature">
            vytvořil Jakub
        </p>
    </footer>
</body>
</html>
