<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <title>Náhodná stránka</title>
    <link rel="preload" href="assets/bundled/index.css" as="style">
    <link rel="preload" href="assets/bundled/index.js" as="script">
    <link rel="stylesheet" href="assets/bundled/index.css" type="text/css">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nothing to see here.">
</head>

<body> 
    <nav>
        <div id="navContainer">
            <a id="navLogo" href="#">
                <img src="assets/images/bla.png" alt="logo">
            </a>

            <ul id="navMain">
                <li class="navMainLink"><a href="#" id="home">domů</a>
                   <ul id="ddLink-1">
                       <li>
                           <a href="#" id="ddLink-111">monitor</a>
                           <ul id="ddLink-11">
                               <li><a href="#">BENQ</a></li>
                               <li><a href="#">senseye</a></li>
                           </ul>
                       </li>
                       <li><a href="#">klávesnice</a></li>
                       <li><a href="#">myš</a></li>
                   </ul>
               </li>
            {foreach $navItems as $navLink => $navItem}
               <li class="navMainLink"><a href="{$navLink}">{$navItem}</a></li>
            {/foreach}
            </ul>

            <div class="iconRow">   
                <a href="#" class="icon-facebook2"></a>
                <a href="#" class="icon-youtube"></a>   
                <a href="#" class="icon-twitter"></a>   
                <a href="#" class="icon-firefox"></a>   
                <a href="#" class="icon-instagram"></a> 
            </div>
        </div>

        <div id="navContainer-2">
                <button id="btnTogNav" value="0">
                    <i class="icon-paragraph-justify"></i>
                </button>

            <a id="navLogo-2" href="#">
                <img src="assets/images/bla.png" alt="logo">
            </a>

            <div id="navMain-2">
                <span>
                    <a href="#" id="home-2">domů</a>
                    <button id="btnTogLink0" class="btnTogNavItem" value="0">
                        <i class="icon-plus"></i>
                    </button>
                </span>

                <span id="dArrow-1" class="displayNone">&darr;</span>

                <span id="togItem1" class="displayNone">
                    <a href="#" class="togThin">&raquo; monitor</a>
                    <button id="btnTogLink1" class="btnTogNavItem" value="0">
                        <i class="icon-plus"></i>
                    </button>
                </span>

                <span id="dArrow-2" class="displayNone">&darr;</span>

            {foreach $navSubItems as $navSubItem}
                <a href="{$navSubItem[0]}" id="{$navSubItem[1]}" class="displayNone togThin">{$navSubItem[2]|noescape}</a>
            {/foreach}

            {foreach $navItems as $dropdownLink => $navItem}
               <a href="{$dropdownLink}">{$navItem}</a>
            {/foreach}
            </div>

            <div class="secondNavIcons iconRow">   
                <a href="#" class="icon-facebook2"></a>
                <a href="#" class="icon-youtube"></a>   
                <a href="#" class="icon-twitter"></a>   
                <a href="#" class="icon-firefox"></a>   
                <a href="#" class="icon-instagram"></a> 
            </div>
        </div>
    </nav>

    <main>
        {include homepage}
    </main>

    <footer>  
        <a id="footerLogo" href="#">
            <img src="assets/images/bla.png" alt="logo">
        </a>

        <p class="footerText">
            je skoro zataženo
        </p>

        <div class="footerIcons iconRow">   
            <a href="#" class="icon-facebook2"></a>
            <a href="#" class="icon-youtube"></a>   
            <a href="#" class="icon-twitter"></a>   
            <a href="#" class="icon-firefox"></a>   
            <a href="#" class="icon-instagram"></a> 
        </div>

        <p class="footerText">
            sledujte na instagramu
        </p>


        <div class="instaContainer"> 
            {foreach $footerImages as $footerLink => $footerImage}
                <a href="{$footerLink}">
                    <img class="instaImg lozad" data-src="{$footerImage}" alt="kaktus">
                    <i class="icon-instagram instaIcon"></i>
                </a>
            {/foreach}
        </div>

        <svg>
            <filter id="blueWash">
                <feColorMatrix type="matrix" values="0.1 0.3 0.3 0 0   0.1 0.4 0.4 0 0  1 1 1 0 0  0 0 0 1 0"/>
            </filter>
        </svg>
      
        <p id="signature">
            &copy; {$year} vytvořil Jakub
        </p>
    </footer>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap"
    media="none" onload="if(media!='all')media='all'">

    <script type="text/javascript" src="assets/bundled/index.js" async defer></script>
</body>
</html>
